.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headr-rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-bars {
  font-size: 24px;
  border: 2px solid red;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fa-sharp:hover {
  border: 2px solid green;
}

.lingwing-Logo {
  width: 200px;
  height: 50px;
}

.language-dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* Styles for the flag image */
.flag-img {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Add some spacing between the flag and text */
  vertical-align: middle; /* Align the flag vertically in the middle */
}

/* Styles for the country abbreviation */
.abbreviation {
  display: inline-block;
  padding: 5px;
  font-size: 22px;
  margin-left: 5px; /* Add some spacing between the flag and abbreviation */
  vertical-align: middle; /* Align the abbreviation vertically in the middle */
}

/* Styles for the arrow */
.arrow {
  margin-left: 5px; /* Add some spacing between the abbreviation and arrow */
}

/* Styles for the language dropdown list */
.lang-ul {
  position: absolute;
  top: 100%; /* Position the dropdown below the flag and abbreviation */
  left: 0;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1; /* Ensure the dropdown appears above other elements */
  display: none; /* Hide the dropdown by default */
}

/* Show the dropdown when isDropdownOpen is true */
.flag-container:hover .lang-ul,
.flag-container:focus-within .lang-ul,
.lang-ul:hover {
  display: block;
}

/* Styles for each language item in the dropdown list */
.lang-ul li {
  padding: 5px;
  cursor: pointer;
}

/* Highlight the selected language in the dropdown list */
.lang-ul li.active {
  background-color: #f0f0f0;
}

.lang-li {
  display: flex;
}
