body {
  background-color: #692e96;
  font-size: 26px;
  background-image: url('./images/backround.svg'), linear-gradient(rgba(0, 0, 0, 0.0),rgba(0,0,0,0.0));
  background-blend-mode: multiply; 
  background-repeat: no-repeat; 
  background-size: cover; 

}

.header-conteiner {


  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.header-leftSide {
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.headr-rightSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 35%;
}

.fa-bars {
  font-size: 18px;
  border: 2px solid #956cb3;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.fa-bars:hover {
  border: 2px solid white;
}

/* header 4square  */
.square-container {
  display: grid;
  grid-template-columns: repeat(2, 4px);
  grid-template-rows: repeat(2, 4px);
  gap: 4px;
  font-size: 6px;
  color: #9ca5a8;;
  margin-right: 20px;
  cursor: pointer;
}
.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.square-container span {
  width: 30px;
  height: 30px;
}

.square-text {
  font-size: 18px;
  font-family: "BPG Nino Mtavruli Bold";
  cursor: pointer;
  color: white;
}
.square-text:hover {
  color: #f6a213;
}
.lingwingLogo {
  margin-left: 40px;
  cursor: pointer;
}

.lingwing-Logo {
  width: 160px;
  height: 50px;
 margin-top: 15px;
 margin-right: 20px;
}

.language-dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
}


.flag-img {
  width: 25px;
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
}

.abbreviation {
  display: inline-block;
  padding: 5px;
  font-size: 18px;
  margin-left: 5px;
  vertical-align: middle;
  color: white;
}

.abbreviation:hover {
  color: #f6a213;
}

.fa-angle-down{
  color: gray;
  margin-left: 10px;
}

.arrow {
  margin-left: 5px;
}

.lang-ul {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 170px;
  height: 250px;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.flag-container:hover .lang-ul,
.flag-container:focus-within .lang-ul,
.lang-ul:hover {
  display: block;
  display: flex;
}

.lang-ul li {
  padding: 5px;
  cursor: pointer;
}

.lang-ul li.active {
  background-color: #f0f0f0;
}

.lang-li {
  display: flex;
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lang-li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.acc-container:hover .acc-ul,
.acc-container:focus-within .acc-ul,
.acc-ul:hover {
  display: block;
}

.acc-ul {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 200px;
  height: 250px;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  font-size: 20px;
}

.acc-ul li:hover {
  color: aqua;
  cursor: pointer;
}

.acc-dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.acc-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid #f6a213;


}

.acc-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.acc-name p {
  margin: 0;
  margin-right: 40px;
  font-size: 18px;
  color: white;
}


.acc-name p:hover{
  color: #f6a213;
}

.fa-chevron-down {
font-size: 24px;
  color: white;
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-header{

  color: #956cb3;
}

.content-languages{
width: 100%;
  border: 2px solid red;
}

.en-box{

  border: 2px solid goldenrod;
  width: 130px;
  height: 200px;
  border-radius: 20px;
  background-image: url('./images/eng_o.jpg');
  background-blend-mode: multiply; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-color:#692e96;
  display: flex;
  align-items: center;
  justify-content: center;
  

 
}

.h1 {
  color: white;
}
.h1-1 {
  color: rgb(250, 3, 250);
}